.resource-previews {
    @include scut-list-unstyled;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: $baseunit;

    // Cover the bottom border for the bottom row
    // Need to use `:before` because the Ajax Load More plugin uses `after` for clearfix
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: $baseunit;
        width: 100%;
        background-color: $color-white;
        z-index: $z-index-front-1;
    }

    &__preview {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%; // so that flexbox truncating works
        padding: $baseunit 0;
        margin-bottom: $baseunit;

        &:before {
            content: '';
            position: absolute;
            bottom: $baseunit * -0.5;
            left: 0;
            width: 100%;
            border-bottom: 1px solid $color-seafoam-dark-1;
        }

        &__info {
            margin-bottom: $baseunit * 1.5;
        }
        &__tags {
            @include scut-list-unstyled;
            @include scroll-horizontal;

            display: flex;
            align-items: center;
            flex-wrap: nowrap;

            // see https://iamsteve.me/blog/entry/using-flexbox-for-horizontal-scrolling-navigation
            &__tag {
                flex-shrink: 0;
            }
        }
    }

    @media (min-width: $media-width-landscape-medium-mobile) {
        flex-direction: row;
        padding-top: $baseunit * 2;

        &__preview {
            width: calc(100% / 2);
            padding: $baseunit;
            border-right: 1px solid $color-seafoam-dark-1;

            &:nth-child(2n + 1) {
                padding-left: 0;
            }
            &:nth-child(2n + 2) {
                padding-right: 0;
                border-right-width: 0;
            }
        }
    }
}

.resource-detail {
    @extend .container;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__info {
        @include auto-space-vertical;
    }
    &__steps {
        @include full-width-bg(transparent) {
            @include card-bg;
        }

        position: relative;
        padding: ($baseunit * 2) 0 ($baseunit * 3);
        margin-top: $baseunit * 2;
    }

    $center-spacing: $baseunit * 3;

    @media (min-width: $media-width-laptop) {
        flex-direction: row;

        &__info {
            width: calc(50% - #{$center-spacing});
            padding-right: $center-spacing;
        }
        &__steps {
            width: calc(50% + #{$center-spacing});
            padding: $baseunit * 2;
            padding-left: $center-spacing;
            margin-top: 0;

            &:before {
                left: 0;
                width: 100%;
                height: 100%;
                transform: none;
            }
        }
    }
}

// From https://css-tricks.com/custom-list-number-styling/
.resource-steps {
    $counter-height: $baseunit * 1.5;
    $counter-offset: $baseunit * 0.5;

    @include scut-list-unstyled;

    padding-left: $counter-height + $counter-offset;
    margin-bottom: $baseunit * 2;
    counter-reset: resource-steps-counter;

    &__step {
        $spacing-around: $baseunit * 0.2;
        position: relative;
        counter-increment: resource-steps-counter;

        & + & {
            margin-top: $baseunit;
        }
        &:before {
            content: counter(resource-steps-counter);
            position: absolute;
            top: $spacing-around * -1;
            left: 0;
            transform: translateX(calc(-100% - #{$counter-offset}));
            height: $counter-height;
            min-width: $counter-height;
            padding: $spacing-around;
            background-color: $color-navy;
            color: $color-white;
            font-weight: $font-weight-bold;
            border-radius: 100%;
            text-align: center;
        }

        &__title {
            margin-bottom: $baseunit * 0.7;
        }
    }

    @media (min-width: $media-width-tablet) {
        padding-left: 0;
    }
}
