.resource-categories {
    $column-gap: $baseunit * 0.25;

    @include vertical-slide('&__list', '&--open', $max-height: 70vh);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: $baseunit;

    &--open &__toggle:after {
        transform: translateY(-50%) scaleY(-1);
    }

    &__toggle {
        @extend .link;
        @include scut-truncate;

        position: relative;
        width: auto;
        padding: ($baseunit * 0.5) $height-control-small;
        line-height: $height-control-small;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            height: $height-control-small;
            width: $height-control-small;
            background-image: url('../../assets/images/icon-dropdown.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: conver;
        }
    }
    &__list {
        @include scut-list-unstyled;

        align-self: stretch;
        display: flex;
        flex-direction: column;
    }
    & &__category {
        @include scut-truncate;

        height: $height-control;
        width: 100%;
        padding: 0 $baseunit;
        margin-bottom: $baseunit * 0.5;
        border: 1px solid $color-seafoam-dark-2;
        border-radius: $border-radius;
        color: $color-navy;
        font-weight: $font-weight-bold;
        opacity: 0.5;
        transition: all 0.2s;

        &--active {
            @include card-bg($color: rgba(0, 0, 0, 0.06));

            opacity: 1;

            &:hover {
                @include card-bg($color: rgba(0, 0, 0, 0.12));
            }
        }
    }

    @media (min-width: $media-width-landscape-small-mobile) {
        &__list {
            // for older browsers
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            & > * {
                flex-basis: calc(50% - #{$column-gap});
            }

            // progressive enhancement
            // see https://stackoverflow.com/a/46099319
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-column-gap: $column-gap * 2; // older prefixed property
            column-gap: $column-gap * 2;
        }
    }
    @media (min-width: $media-width-tablet) {
        &__toggle {
            display: none;
        }
        &__list {
            $column-gap: $baseunit * 0.35;

            max-height: none; // override toggle behavior
            grid-template-columns: repeat(4, minmax(0, 1fr));

            // for older browsers
            justify-content: flex-start;

            & > * {
                flex-basis: calc(25% - #{$column-gap});
            }
        }
        &__category {
            margin-bottom: 0;
        }
    }
}

.resource-previews {
    @include scut-list-unstyled;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: $baseunit;

    // Cover the bottom border for the bottom row
    // Need to use `:before` because the Ajax Load More plugin uses `after` for clearfix
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: $baseunit;
        width: 100%;
        background-color: $color-white;
        z-index: $z-index-front-1;
    }

    &__preview {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%; // so that flexbox truncating works
        padding: $baseunit 0;
        margin-bottom: $baseunit;

        &:before {
            content: '';
            position: absolute;
            bottom: $baseunit * -0.5;
            left: 0;
            width: 100%;
            border-bottom: 1px solid $color-seafoam-dark-1;
        }

        &__info {
            margin-bottom: $baseunit * 1.5;
        }
        &__tags {
            @include scut-list-unstyled;
            @include scroll-horizontal;

            display: flex;
            align-items: center;
            flex-wrap: nowrap;

            // see https://iamsteve.me/blog/entry/using-flexbox-for-horizontal-scrolling-navigation
            &__tag {
                flex-shrink: 0;
            }
        }
    }

    @media (min-width: $media-width-landscape-medium-mobile) {
        flex-direction: row;
        padding-top: $baseunit * 2;

        &__preview {
            padding: $baseunit;
            border-right: 1px solid $color-seafoam-dark-1;
        }
    }
    @media (min-width: $media-width-landscape-medium-mobile) {
        &__preview {
            width: calc(100% / 2);

            &:nth-child(2n + 1) {
                padding-left: 0;
            }
            &:nth-child(2n + 2) {
                padding-right: 0;
                border-right-width: 0;
            }
        }
    }
}
