<div class="form__item form__item--half">
    <label class="form__text" for="contact-name">Your name</label>
    <input
        class="form__control"
        id="contact-name"
        type="text"
        placeholder="What is your name?"
        required
    />
</div>
<div class="form__item form__item--half">
    <label class="form__text" for="contact-email">Your email</label>
    <input
        class="form__control"
        id="contact-email"
        type="text"
        placeholder="How can we get back to you?"
        required
    />
</div>
<div class="form__item">
    <label class="form__text" for="contact-message">Your message</label>
    <textarea
        class="form__control"
        id="contact-message"
        cols="30"
        rows="10"
        placeholder="What comments, suggestions, or feedback do you have?"
        required
    ></textarea>
</div>
