<footer class="footer">
    <div class="footer__content">
        <a href="/">
            <img
                class="footer__logo"
                src="assets/images/logo-with-text.png"
                alt="Docs for Health logo"
            />
        </a>
        <ul class="footer__links">
            <li class="footer__link">
                <a class="link" href="#">Privacy policy</a>
            </li>
            <li class="footer__link">
                <a class="link" href="#">Terms of service</a>
            </li>
        </ul>
    </div>
    <div class="footer__content">
        <p class="text">
            Docs for Health is a free community resource developed and
            maintained by the
            <a class="link" href="#">Social Medicine Collaborative</a>
            in Providence, RI.
        </p>
        <p class="text">
            While every resource is thoroughly researched and vetted,
            all resources are provided “as is” without warranty of any
            kind. Use at your own risk.
        </p>
    </div>
</footer>
<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
