<nav class="nav">
    <div class="nav__contents">
        <a href="/">
            <img
                class="nav__logo"
                src="assets/images/logo-with-text.png"
                alt="Docs for Health logo"
            />
        </a>
        <button type="button" class="nav__menu-toggle"></button>
    </div>
    <div class="nav__links-container">
        <ul class="nav__links">
            <li>
                <a class="nav__link" href="/resources.html">Resources</a>
            </li>
            <li>
                <a class="nav__link" href="#">Toolkits</a>
            </li>
        </ul>
    </div>
</nav>
