@import '~lity/dist/lity';
@import '~normalize.css/normalize';
@import '~scut/dist/scut';
@import '~slick-carousel/slick/slick';

@import 'scss/vars';
@import 'scss/overrides';
@import 'scss/mixins';

@import 'scss/controls';
@import 'scss/elements';
@import 'scss/structure';
@import 'scss/typography';
@import 'scss/utils';

@import 'scss/pages/landing';
@import 'scss/pages/resource-detail';
@import 'scss/pages/resources';
@import 'scss/pages/toolkits';

@import 'scss/overrides/lity';
