<!DOCTYPE html>
<html lang="en">
<head>
    <title>Existing court fines | Docs for Health</title>
    <%- include src/partials/header.ejs %>
</head>
<body>
    <%- include src/partials/nav.ejs %>
        <div>
            <div>
                <h1>
                    <a href="/resources.html">
                        <img src="assets/images/icon-arrow.svg" alt="Back arrow">
                        <span>All resources</span>
                    </a>
                    Existing court fines
                </h1>
                <ul>
                    <li>
                        Criminalization
                    </li>
                </ul>
                <p>If your patient has outstanding court fines that, in your assessment, impact their medical or mental health, this form generator will help you to write a letter advocating for your patient’s court fines to be eliminated or reduced.</p>
                <p>For fines that have already been imposed, patients are typically ordered to make monthly payments according to a pre-specified payment plan. When patients attend court to develop this payment plan, they often do not have an attorney with them, nor is a public defender assigned to the case. This is why the letter must be submitted by the patient directly to the judge.</p>
            </div>
            <div>
                <h2>Documents</h2>
                <ol>
                    <li>
                        Provider advocacy letter
                        <div>
                            <button type="button">
                                Download .docx
                            </button>
                            <button type="button">
                                Generate letter
                            </button>
                        </div>
                    </li>
                </ol>
                <h2>Next steps</h2>
                <p>
                    The patient should take this letter to the Cost Review office in court. Once there, the patient can either drop the letter off with an administrator for delivery to the judge, or ask to personally deliver the letter to the judge. The goal is for the judge to waive or reduce the patient’s court fees upon reading the letter.
                </p>
            </div>
        </div>
    <%- include src/partials/footer.ejs %>
</body>
</html>
