.button-container {
    &__button {
        width: 100%;

        & + & {
            margin-top: $baseunit * 0.5;
        }
    }

    @media (min-width: $media-width-landscape-small-mobile) {
        // ensure that buttons stay on same line
        display: flex;

        &--expand-width &__button {
            width: 100%;
        }

        &__button {
            width: auto;

            & + & {
                margin-top: 0;
                margin-left: $baseunit * 0.5;
            }
        }
    }
}

.list {
    padding-left: $baseunit * 2;

    &--unstyled {
        @include scut-list-unstyled;

        padding-left: 0;
    }
}

.tag {
    @include scut_truncate;

    display: inline-block;
    padding: ($baseunit * 0.1) ($baseunit * 0.5) ($baseunit * 0.15);
    color: $color-gray;
    border: 1px solid $color-seafoam-dark-2;
    border-radius: $border-radius;

    & + & {
        margin-left: $baseunit * 0.2;
    }

    &--notable {
        border-color: $color-navy-light-1;
        background-color: $color-navy-light-2;
    }
}

.load-more {
    @extend .heading--4;

    padding: ($baseunit * 2) 0;
    text-align: center;
    font-weight: $font-weight-bold;
    color: $color-navy;
}

.feedback-card {
    @extend .container;
    @include full-width-bg(transparent) {
        @include card-bg;

        left: 0;
        border-radius: 0;
        transform: none;
    }

    display: flex;
    flex-direction: column;
    padding: ($baseunit * 2) 0;

    &__info {
        margin-bottom: $baseunit * 2;
    }

    @media (min-width: $media-width-tablet) {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: $baseunit * 3;

        &:before {
            width: calc(100% + #{$unit-horizontal-overhang-small * 2});
            margin-left: $unit-horizontal-overhang-small * -1;
            border-radius: $border-radius;
        }

        &__info {
            width: 50%;
            padding-right: $baseunit * 3;
            margin-bottom: 0;
        }
    }
    @media (min-width: $media-width-laptop) {
        &:before {
            width: calc(100% + #{$unit-horizontal-overhang * 2});
            margin-left: $unit-horizontal-overhang * -1;
        }
        &__info {
            width: 40%;
        }
    }
}

.faq-question {
    @include vertical-slide('&__answer', '&--open') {
        padding-bottom: $baseunit;
    }

    padding-top: $baseunit;
    border-bottom: 1px solid $color-seafoam-dark-1;

    &:last-child {
        padding-bottom: 0;
        border-bottom-width: 0;
    }
    &--open &__toggle {
        transform: scaleY(-1);
    }

    &__question {
        display: flex;
        justify-content: space-between;
        line-height: $height-control-small;
        margin-bottom: $baseunit;
    }
    &__toggle {
        height: $height-control-small;
        width: $height-control-small;
        flex-shrink: 0;
        background-image: url('../assets/images/icon-dropdown.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.modal {
    &:not(&--adaptive) {
        display: none;
    }
    &--adaptive &__title,
    &--adaptive &__toggle {
        display: none;
    }
    &--adaptive.modal--open &__title {
        display: initial;
    }
    &--adaptive.modal--open &__toggle {
        display: flex;
    }
    &--open.modal {
        display: flex;
        flex-direction: column;
        background-color: $color-white;
        border-radius: $border-radius;
        padding: $baseunit 0;
    }
    &--open &__title,
    &--open &__toggle {
        flex-shrink: 0;
        padding: 0 $baseunit;
    }
    &--open &__title {
        border-bottom: 3px solid $color-gold-light-1;
    }
    &--open &__content {
        @include scroll-vertical;

        padding: 0 $baseunit;
    }
    &--open &__toggle {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-top: $baseunit;
        border-top: 3px solid $color-gold-light-1;
    }
}
