@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: $font-weight-normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: $font-weight-bold;
}

.text {
    color: $color-gray-dark-1;
    font-size: $baseunit;
    line-height: normal;

    &--large {
        font-size: $baseunit * 1.25;
    }
    &--small {
        font-size: $baseunit * 0.875;
    }
}

.heading {
    margin: 0 0 $baseunit 0;
    color: $color-gray-dark-1;
    font-weight: $font-weight-normal;

    &--1 {
        font-size: $baseunit * 2.5;
    }
    &--2 {
        font-size: $baseunit * 1.875;
    }
    &--3 {
        @extend .text--large;
    }

    &__title {
        display: inline-block;
        position: relative;
        font-weight: $font-weight-bold;
        z-index: $z-index-reset;

        &:after {
            $highlight-offset: $baseunit * 0.6;

            content: '';
            position: absolute;
            left: $highlight-offset * -1;
            bottom: $baseunit * -0.2;
            height: $baseunit;
            width: calc(100% + #{$highlight-offset * 1.5});
            background-color: $color-gold;
            border-radius: $border-radius * 2;
            transform: skewX(20deg);
            z-index: $z-index-behind-1;
        }
    }
    &__subtitle {
        @include scut_truncate;

        display: block;
        font-size: 70%;
        text-transform: uppercase;
    }
    &__subtitle + &__title {
        margin-top: $baseunit * 0.25;
    }
    &__title + &__subtitle {
        margin-top: $baseunit * 0.65;
    }
}
